.navigation{
width: 100%;
box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

    .navbar{
         display: flex;
         justify-content: center;
         justify-content: space-around;
         width: 60%;
         margin: auto;
         height: 10vh;
         align-items: center;
         
         
    }
}