.cards {
  width: 100%;
  .productCard {
    display: flex;
    width: 100%;
    height: 200px;
    justify-content: center;
    justify-content: space-between;
    margin-top: 2%;
    flex-wrap: wrap;
    gap: 30px;
    
    .productCards {
      box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
      width: 400px;
      height: 600px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      .img {
        width: 400px;
        height: 300px;
        background-color: transparent;
      }
      .about{
        padding: 5%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 300px;
        font-size: 25px;
        align-items: center;
      }
    }
  }
}
