.productCardDetail{
width: 100%;
display: flex;
justify-content: center;
align-items: center;
margin-top: 5%;
    .card{
width: 50%;
box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
height: 40vh;
display:flex;
justify-content: space-around;
.about{
    
    font-size: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

img{
    width: 300px;
    height: 300px;
}
    }
}